In [1]:
import pandas as pd
import ast

In [2]:
tnroof = pd.read_csv('../data/tnroof.csv', dtype={0:'str'})

In [3]:
tnroof.head()

,region_name,state_name,lat_max,lat_min,lng_max,lng_min,lat_avg,lng_avg,yearly_sunlight_kwh_kw_threshold_avg,count_qualified,...,yearly_sunlight_kwh_s,yearly_sunlight_kwh_e,yearly_sunlight_kwh_w,yearly_sunlight_kwh_f,yearly_sunlight_kwh_median,yearly_sunlight_kwh_total,install_size_kw_buckets,carbon_offset_metric_tons,existing_installs_count,center_point
0,47073050700,Tennessee,36.532211,36.363400,-82.610168,-82.933983,36.446362,-82.762489,1041.25,2,...,8.530174e+03,2.043275e+04,0.000000e+00,2.526478e+03,2526.477661,3.148940e+04,"[[0,1],[25,1]]",24.045846,0,POINT (-82.7624893188477 36.446361541748)
1,47031980100,Tennessee,35.448120,35.343739,-86.005219,-86.159851,35.391674,-86.067848,1032.75,3,...,0.000000e+00,0.000000e+00,1.162019e+03,1.056148e+04,3597.633301,1.172350e+04,"[[0,3]]",8.952267,0,POINT (-86.06784820556641 35.391674041748)
2,47187051100,Tennessee,35.874828,35.696449,-86.610909,-86.873047,35.778309,-86.749619,1029.35,8,...,3.645907e+04,4.432446e+04,4.088778e+04,1.159793e+03,4918.298389,1.314785e+05,"[[0,4],[5,1],[15,1],[20,1],[45,1]]",100.399204,0,POINT (-86.74961853027339 35.7783088684082)
3,47157001100,Tennessee,35.175812,35.160938,-89.933434,-89.953201,35.167404,-89.941101,1054.85,630,...,1.939470e+06,1.490706e+06,8.283687e+05,2.945745e+06,5813.361670,7.322225e+06,"[[0,317],[5,210],[10,54],[15,18],[20,1],[25,2]...",5591.376756,1,POINT (-89.94110107421881 35.1674041748047)
4,47157001200,Tennessee,35.162498,35.149120,-89.927254,-89.944511,35.155727,-89.935753,1054.85,722,...,2.003621e+06,1.217512e+06,1.577554e+06,5.242027e+06,5949.209973,1.024544e+07,"[[0,335],[5,249],[10,71],[15,18],[20,5],[25,9]...",7823.597262,0,POINT (-89.9357528686523 35.1557273864746)

In [4]:
tnroof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 32 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   region_name                           1030 non-null   object
 1   state_name                            1030 non-null   object
 2   lat_max                               1030 non-null   float64
 3   lat_min                               1030 non-null   float64
 4   lng_max                               1030 non-null   float64
 5   lng_min                               1030 non-null   float64
 6   lat_avg                               1030 non-null   float64
 7   lng_avg                               1030 non-null   float64
 8   yearly_sunlight_kwh_kw_threshold_avg  950 non-null    float64
 9   count_qualified                       1030 non-null   int64
 10  percent_covered                       1030 non-null   float64
 11  percent_qualified                     1030 non-null   float64
 12  number_of_panels_n                    1030 non-null   int64
 13  number_of_panels_s                    1030 non-null   int64
 14  number_of_panels_e                    1030 non-null   int64
 15  number_of_panels_w                    1030 non-null   int64
 16  number_of_panels_f                    1030 non-null   int64
 17  number_of_panels_median               1027 non-null   float64
 18  number_of_panels_total                947 non-null    float64
 19  kw_median                             1027 non-null   float64
 20  kw_total                              947 non-null    float64
 21  yearly_sunlight_kwh_n                 1030 non-null   float64
 22  yearly_sunlight_kwh_s                 1030 non-null   float64
 23  yearly_sunlight_kwh_e                 1030 non-null   float64
 24  yearly_sunlight_kwh_w                 1030 non-null   float64
 25  yearly_sunlight_kwh_f                 1030 non-null   float64
 26  yearly_sunlight_kwh_median            1027 non-null   float64
 27  yearly_sunlight_kwh_total             947 non-null    float64
 28  install_size_kw_buckets               1027 non-null   object
 29  carbon_offset_metric_tons             1030 non-null   float64
 30  existing_installs_count               1030 non-null   int64
 31  center_point                          1030 non-null   object
dtypes: float64(21), int64(7), object(4)
memory usage: 257.6+ KB

In [5]:
tnroof.install_size_kw_buckets.iloc[0]

'[[0,1],[25,1]]'

In [6]:
x= tnroof.install_size_kw_buckets.iloc[0]
x

'[[0,1],[25,1]]'

In [7]:
res = ast.literal_eval(tnroof.install_size_kw_buckets.iloc[0])

In [8]:
type(res)

list

In [9]:
def lister(row):
    try:
        res = ast.literal_eval(row.install_size_kw_buckets)
    except:
        res = [[0,0]]
    return res

In [10]:
tnroof['install_size_kw_buckets'] = tnroof.apply(lambda x: lister(x), axis=1)

In [11]:
tnroof.install_size_kw_buckets[0]

[[0, 1], [25, 1]]

In [12]:
tnroof.install_size_kw_buckets[0]

[[0, 1], [25, 1]]

In [13]:
buckets = pd.DataFrame()
for index, row in tnroof.iterrows():
    bucket = {}
    bucket['region_name'] = row['region_name']
    for buc in row.install_size_kw_buckets:
        if buc[0] > 200:
            bucket['install_size_kw_bucket200+'] = buc[1]
        elif buc[0] > 150:
            bucket['install_size_kw_bucket150-200'] = buc[1]
        elif buc[0] > 100:
            bucket['install_size_kw_bucket100-149'] = buc[1]
        elif buc[0] > 50:
            bucket['install_size_kw_bucket50-99'] = buc[1]  
        else:
            bucket['install_size_kw_bucket' + str(buc[0])] = buc[1]
    buckets = buckets.append(bucket, ignore_index=True)

In [14]:
buckets

,region_name,install_size_kw_bucket0,install_size_kw_bucket25,install_size_kw_bucket15,install_size_kw_bucket20,install_size_kw_bucket45,install_size_kw_bucket5,install_size_kw_bucket10,install_size_kw_bucket100-149,install_size_kw_bucket200+,install_size_kw_bucket30,install_size_kw_bucket35,install_size_kw_bucket50-99,install_size_kw_bucket150-200,install_size_kw_bucket40,install_size_kw_bucket50
0,47073050700,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47031980100,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,47187051100,4.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,47157001100,317.0,2.0,18.0,1.0,1.0,210.0,54.0,1.0,1.0,4.0,4.0,2.0,NaN,NaN,NaN
4,47157001200,335.0,9.0,18.0,5.0,2.0,249.0,71.0,1.0,1.0,3.0,1.0,1.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,47037980100,35.0,5.0,11.0,13.0,1.0,26.0,11.0,1.0,1.0,5.0,7.0,1.0,1.0,9.0,3.0
1026,47157980100,21.0,14.0,17.0,16.0,12.0,22.0,30.0,5.0,1.0,12.0,15.0,4.0,3.0,11.0,7.0
1027,47165021205,52.0,107.0,318.0,271.0,5.0,151.0,272.0,1.0,1.0,42.0,25.0,1.0,2.0,10.0,2.0
1028,47037015900,126.0,16.0,44.0,25.0,8.0,165.0,77.0,2.0,1.0,16.0,18.0,8.0,6.0,17.0,22.0
1029,47093000100,34.0,7.0,28.0,21.0,12.0,48.0,34.0,2.0,1.0,13.0,19.0,5.0,2.0,10.0,9.0